.join-logo {
  width: 100px;
  height: auto;
}
.signup {
  display: flex;
  align-items: center;
  gap: 24px;
}

.signup-footer {
  display: none;
}

/* Main design */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 512px;
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 40px 80px;
}

.login-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 8px;
}
.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  padding-left: 45px;
  display: none;
}

.success-message {
  color: #27ae60;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  padding-left: 40px;
  display: none;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 30px;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.secondary {
  background-color: white;
  color: #2a3e52;
  border: 1px solid #2a3e52;
}

.secondary:hover {
  color: #28abe2;
  border: 1px solid #28abe2;
}

/* Logo animation */

.start-overlay {
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10;
  /* animation: overlay-fade 1.2s ease-in-out forwards; */
  animation-name: overlay-fade;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.logo-animated {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: auto;
  z-index: 11;
  /* animation: logo-animation 1.2s ease-in-out forwards; */
  animation-name: logo-animation;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes logo-animation {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 120px;
  }
  100% {
    left: 0px;
    top: 0px;
    transform: none;
    width: 60px;
    margin-top: 32px;
    margin-left: 32px;
  }
}

@keyframes overlay-fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* -------------------------------------------
Media queries
---------------------------------------------- */

@media (max-width: 500px) {
  .signup-header {
    display: none;
  }

  .login-container {
    padding: 30px 40px;
  }

  .signup-footer {
    display: flex;
    align-items: center;
    margin-top: 64px;
  }

  .button-group {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 180px;
    gap: 16px;
    margin-top: 22px;
  }

  .login-input {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .login-container {
    padding: 30px 16px;
  }
}
